@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #dbeafe;
}
